name: CI
on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '0 3 * * *'

jobs:
  tests:
    strategy:
      matrix:
        os: [
          ubuntu-latest,
          macos-latest,
          windows-latest,
        ]
        python-version: [
          "3.6",
          "3.7",
          "3.8",
          "3.9",
          #"3.10-dev"
        ]

    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout Source
      uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Setup package
      run: |
        python -m pip install --upgrade pip
        # install wheel for experimental job (Python 3.10)
        python -m pip install --upgrade wheel
        python -m pip install --pre -e .[dev]
    - name: Run test suite
      run: pytest --mpl-results-path=test_results
    - uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: test_results
        path: test_results/

  minimal-dependencies:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Source
      uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.6
    - name: Setup package
      run: |
        python -m pip install --upgrade pip
        python tests/scripts/hardpin_minimal_dependencies.py
        python -m pip install -e .[dev]
    - name: Run test suite
      run: pytest --mpl-results-path=test_results
    - uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: test_results
        path: test_results/
      run: pytest
