name: CI
on:
  pull_request:
    paths-ignore:
    - '**/*.md'
  push:
    branches:
    - main
  schedule:
  # run this every Wednesday at 3 am UTC
  - cron: 0 3 * * 3
  workflow_dispatch:

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        python-version:
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'
        include:
          # only test oldest and most recent Python on other platforms
        - os: macos-latest
          python-version: '3.10'
        - os: macos-latest
          python-version: '3.14'
        - os: windows-latest
          python-version: '3.10'
        - os: windows-latest
          python-version: '3.14'
        - os: ubuntu-22.04
          python-version: 3.10.0
          install-args: --resolution=lowest

    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout Source
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        python-version: ${{ matrix.python-version }}

    # install the package without constaints first so build-time requirements
    # are not affected by install-args
    - run: uv sync --no-editable

    # forcing bytecode compilation for colorspacious
    # see https://github.com/astral-sh/uv/issues/4758
    # Cannot use --frozen here because it overrides options like --resolution
    - run: uv sync --group test --compile-bytecode --no-install-project --inexact ${{ matrix.install-args }}

    - name: Run test suite
      run: uv run --no-sync pytest --color yes

    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      if: failure()
      with:
        name: test_results
        path: test_results/

  image-tests:
    name: Image tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        python-version: '3.13'

    - name: Run Image Tests
      # forcing bytecode compilation for colorspacious
      # see https://github.com/astral-sh/uv/issues/4758
      run: |
        uv run --frozen --no-editable --compile-bytecode --group test \
          pytest --color=yes --mpl -m mpl_image_compare \
                --mpl-generate-summary=html \
                --mpl-results-path=pytest_mpl_results \
                --mpl-baseline-path=tests/baseline

    - name: Generate new image baseline
      if: failure()
      run: |
        uv run --frozen --no-editable --group test \
          pytest --color=yes --mpl -m mpl_image_compare \
                 --mpl-generate-path=pytest_mpl_new_baseline \
                 --last-failed

    # always attempt to upload artifacts, even
    # (and especially) in case of failure.
    - name: Upload pytest-mpl report
      if: always()
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: cmyt_pytest_mpl_results
        path: pytest_mpl_results/*

    - name: Upload pytest-mpl baseline
      if: always()
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: cmyt_pytest_mpl_new_baseline
        path: pytest_mpl_new_baseline/*
        if-no-files-found: ignore

  type-check:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version:
        # oldest and newest supported versions
        - '3.10'
        - '3.13'
    concurrency:
      # auto-cancel any in-progress job *on the same branch*
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.python-version }}-typecheck
      cancel-in-progress: true

    steps:
    - name: Checkout repo
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run mypy
      run: uv run --frozen --no-editable --group typecheck mypy cmyt
